* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body { 
    background: url("../images/lotr-background-2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.game-board {
    border: 1px solid gold;
    height: auto; 
    background: gold;
    background: rgb(255, 217, 2); 
    background: rgba(255, 217, 2, 0.6);
    color: white;
}

.board-header {
    text-align: center;
    color: white; 

}

header {
    text-align: center;
    color: white;
    margin: 40px;
}

#end {
    text-align: center;
    margin: 20px; 
}

#results {
    padding: 0px 0px 10px 10px;
}